/*
elemento flutuante
*/

.conteudo{
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right;
}

/*.conteudo1{
    background: red;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: left;
}*/

.conteudo-zero{
    background: red;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    /*float: left;*/
}
