/**********************************
Arredondamento com imagens
*/
body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.caixa{
    width: 400px;
    background: #dedede url(imagens/topo.png) no-repeat left top;
    
}
.caixa h2{
    padding: 10px 20px 0 20px;
}
.caixa p{
    padding: 0px 20px 20px 20px;
    background: url(imagens/baixo.png) no-repeat left bottom;
}


.caixa2{
    width: 400px;
    background: #dedede url(imagens/fundo-arredondamento.png) repeat-y;
}

.caixa2 h2{
    padding: 10px 20px 0 20px;
    background: url(imagens/topo2.png) no-repeat left top;
}
.caixa2 p{
    padding: 0px 20px;
    margin-bottom: 0;
}
.caixa2 .ultimo{
    background: url(imagens/baixo2.png) no-repeat left bottom;
    /*padding: 20px;*/
    width: 400px;
    height: 24px;
}