#caixa{
    width: 300px;
    height: 300px;
    /*background: url(../imagens/camera.png);*/
    /*background: linear-gradient(0deg,red,green, yellow);*/
    background:  radial-gradient(red, blue,yellow);

}

#caixa h1{
   /* background: rgba(255, 255, 255, 0.8);*/
}
